<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    meta(name="description" content="デイトラ2nd最終課題")
    meta(name="keywords" content="デイトラ, コーディング, HTML")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
  body
    h1.item hello!!