/* results */
.results
  background: $black
  padding-top: 4rem
  @include mq('+sp')
    background: $gree
    padding-top: 8rem
  &__container
    position: relative
    margin-left: auto
    margin-right: auto
    @include mq('+sp')
      padding-left: 11rem
      background: $black
      max-width: 1273px
      margin-left: 9rem
  &__title
    text-align: center
    color: $whit
    font-family: $font-en
    font-size: 3rem
    line-height: 1.2
    color: $whit
    margin-bottom: 4rem
    @include mq('+sp')
      text-align: left
      font-size: 3.6rem
      line-height: 1.2
      margin-bottom: 8rem
  .swiper-wrapper
    padding-left: 1.6rem
    @include mq('+sp')
      padding-left: 0
  .swiper-container
    width: 100%
    height: 100%
    @include mq('tab')
      max-width: 1180px
  .swiper-slide
    min-width: 27.6rem
    height: auto
    color: $black
    @include mq('+sp')
      width: 42.2rem !important
    &--img
      max-width: 100%
      height: auto
    &--title
      padding: 1.2rem
      background: $whit
      font-size: 1.5rem
      line-height: 0.8
      letter-spacing: .01rem
      width: 100%
      @include mq('+sp')
        font-size: 2.0rem
        padding: 2rem
        line-height: 1.2
    &--lead
      background: $whit
      font-size: 1.2rem
      line-height: 1.6
      letter-spacing: .01rem
      padding: 0 1.2rem 1.2rem 1.2rem
      width: 100%
      @include mq('+sp')
        font-size: 1.6rem
        line-height: 1.5
        padding: 0 2.0rem 2.0rem 2.0rem
  .swiper-pagination
    position: static
    margin-top: 2.4rem
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 10px
  .swiper-pagination-bullet
    width: 1.2rem
    height: 1.2rem
    margin-left: 2rem
    background: $whit
    padding: .1rem
    &-active /* ページネーションの二重丸*/
      border: 3px solid $black
      width: 1.6rem
      height: 1.6rem
      box-shadow: 0 0 0 1px $whit
  &--button
    background: inherit
    color: $whit
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    &:hover
      opacity: 1
    &--text
      font-family: $font-en
      display: flex
      align-items: center
      justify-content: center
      font-weight: bold
      letter-spacing: 3.6px
      line-height: 1.2
      font-size: 1.8rem
      width: 34.3rem
      height: 5.4rem
      margin-top: 4rem
      margin-bottom: 4rem
      border: 1px solid #FFFFFF
      &:hover
        opacity: 1
        background: $whit
        color: $black